* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.42857143;
    font-size: 17px;
}

p, a {
    background: rgba(26, 26, 26, 1);
}

html img {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    margin: -8px;
}

hr.line-neon {
    border: 0;
    height: 2px;
    background: rgb(255, 255, 255);
    background-image: -webkit-linear-gradient(left, #1a1a1a, #fff, #1a1a1a);
    background-image: -moz-linear-gradient(left, #1a1a1a, #fff, #1a1a1a);
    background-image: -o-linear-gradient(left, #1a1a1a, #fff, #1a1a1a);
}

a {
    color: #1f6bf8;
    text-decoration: none;
}

a:hover {
    color: #ffbb01;
}

.container {
    display: flex;
}

.gladiadores {
    background: rgba(26, 26, 26, 1);
    margin-right: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.changelog {
    width: 100%;
    height: 100vh;
    margin-top: 1rem;
}

.date-changelog {
    background: rgba(26, 26, 26, 1);
    margin-bottom: 1.5rem;
    width: 95%;
    padding-left: 7px;
    padding-top: 7px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: aliceblue;
}

.date-style {
    background: rgba(26, 26, 26, 0);
    font-size: 16px; 
    color: #ff7300;
    font-weight: 700;
    display: flex;
    margin-bottom: 5px;
    padding: 2px;
    text-align: center;
    justify-content: center;
}

.gladiadores p{
    color: #ff7300;
    padding-top: 6px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}

.gladiadores td:nth-child(1) {
    text-align: left;
}

.gladiadores td:nth-child(2), .gladiadores td:nth-child(3) {
    text-align: center;
}

.gladiadores hr.line-neon {
    margin-top: -8px;
}

.gladidores, .links-changelog {
    padding-left: 1rem;
    padding-right: 1rem;
}

td, tr {
    color: white;
}

tr, td {
    padding: 5px;
}

.links-changelog {
    background:rgba(26, 26, 26, 1);
    margin-right: 2rem;
    padding-bottom: 5px;
}

.links-changelog hr.line-neon {
    margin-top: -8px;
}

.links-changelog p#title {
    color: #ff7300;
    padding-top: 4px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}

.redes_sociais p {
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    padding-left: 1rem;
}

.redes_sociais img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    position: relative;
    z-index: 1;
    bottom: 0.1rem;
}


/* RESPONSIVO */

@media (min-width: 320px) and (max-width: 479px) {
    
    .static {
        font-size: 8px;
        padding-left: 5px;
    }

    .date-changelog{
        width: 80%;
        font-size: 8px;
    }

    .date-changelog p {
        width: 80%;
        font-size: 8px;
    }

}


@media (max-width: 795px) {
    
    .static {
        font-size: 8px;
        
    }

    .date-changelog{
        width: 40%;
        font-size: 8px;
    }

}

@media (max-width: 720px) {
    
    .static {
        font-size: 8px;
    }

    .date-changelog{
        width: 40%;
        font-size: 8px;
    }

}

@media (max-width: 1235px) {
    
    .static {
        font-size: 16px;
    }

    .date-changelog{
        width: 95%;
        font-size: 16px;
    }

}
